# LOR CGR - Variaveis de Ambiente
# COPIE ESTE ARQUIVO PARA .env E PROTEJA-O!

# Django
SECRET_KEY=django-insecure-chave-secreta-default-ALTERE-ESTA-CHAVE
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,45.71.242.131

# Banco de Dados
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=/opt/lorcgr/db.sqlite3
DB_USER=leonardo
DB_PASSWORD=Lor#Vision#2016
DB_HOST=localhost
DB_PORT=5432

# API Groq
GROQ_API_KEY=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

# CORS
CORS_ALLOWED_ORIGINS=http://localhost,http://127.0.0.1,http://45.71.242.131
