{% extends 'core_system/base.html' %}
{% block content %}
<h4 style="color: #ff9100; margin-bottom: 20px;">AUTOMAÇÃO EM MASSA</h4>
<div style="background: #111; padding: 20px; border: 1px solid #333; border-radius: 8px;">
    <p style="color: #ccc;">Envie comandos para múltiplos roteadores simultaneamente.</p>
    <textarea class="form-control" rows="5" style="background: black; color: #00ff41; border: 1px solid #333; font-family: monospace;" placeholder="/system identity print..."></textarea>
    <button class="btn btn-warning mt-3 font-weight-bold">EXECUTAR COMANDO</button>
</div>
{% endblock %}
